body {
    background-color: rgb(33,37,41);
}
.bg-primary {
    background-color: #4BB984 !important;
}
.border-primary {
    border-color: #4BB984 !important;
}
hr {
    color: #4BB984;
    border: 1px solid #4BB984;
    border-radius: 5px;
    opacity: 100%;
}